
@{
    ViewData["Title"] = "Payment";
}
<style>
    input[type=radio]{
        transform:scale(2,2);
    }
</style>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form asp-action="Payment" asp-controller="Booking">


            <div class="form-group">
                <img src="~/images/cards.jpg" alt="cards" />
            </div>
            <div class="form-group" style="font-size:20px">
                <table>
                    <tr>
                        <td>
                            <label>Payment Method</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Debit Card</span>
                        </td>
                        <td><input type="radio" name="mode" value="DC" /></td>
                    </tr>
                    <tr>
                        <td>
                            <span>Credit Card</span>
                        </td>
                        <td><input type="radio" name="mode" value="CC" /></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label class="control-label">Customer Name</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="cname">Name on Card</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ccnum">Credit card number</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="expmonth">Exp Month</label>
                <div id="month">
                    <select id='month' class="form-control">
                        <option value=''>--Select Month--</option>
                        <option value='1'>Janaury</option>
                        <option value='2'>February</option>
                        <option value='3'>March</option>
                        <option value='4'>April</option>
                        <option value='5'>May</option>
                        <option value='6'>June</option>
                        <option value='7'>July</option>
                        <option value='8'>August</option>
                        <option value='9'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="expyear">Exp Year</label>
                <div id="year">
                    <select id='year' class="form-control">
                        <option value=''>-- Select Year --</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="password" pattern="[0-9]{3}" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Pay and Book Tickets</button>

            </div>
        </form>

    </div>
    <div class="col-lg-3"></div>
</div>