
@{
    ViewData["Title"] = "Payment";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <h2 class="heading-main">Online Movie Ticket Booking </h2>
  
    
    <style>
        input[type=radio] {
            transform: scale(2,2);
        }
        .heading-main {
            color: black;
            height: 4%;
            width: 100%;
            background-color: palevioletred;
            border-radius: 10%
        }
        .btn {
            background-color: deepskyblue; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20%;
        }
        .container2 {
            position: absolute;
            left: 20%;
            top: 22%;
            margin: 20px;
            /*max-width: 400px;*/
            padding: 20px;
            border-radius: 8% ;
            position: center;
            width: 400px;
            padding: 15px;
          
            border: groove;
            background: #f1f1f1;
           
        }
    </style>
</head>
<body>
    <marquee behavior="scroll" direction="left">

        <img src="~/images/stree1.jpg" width="125" height="100" alt="stree1">&nbsp;&nbsp;
        <img src="~/images/shah.jpg" width="125" height="100" alt="shahrukh khan" />&nbsp;&nbsp;

        <img src="~/images/deep.jpg" width="125" height="100" alt="deepika padukone" />&nbsp;&nbsp;

        <img src="~/images/baaz.jpg" width="125" height="100" alt="baaz" />&nbsp;&nbsp;
        <img src="~/images/badhai ho.jpg" width="125" height="100" alt="badhai ho" />&nbsp;&nbsp;
        <img src="~/images/dhamaal.jpg" width="125" height="100" alt="dhamaal" />&nbsp;&nbsp;
        <img src="~/images/dhoom.jpg" width="125" height="100" alt="dhoom" />&nbsp;&nbsp;
        <img src="~/images/golmaal3.jpg" width="125" height="100" alt="golmaal" />&nbsp;&nbsp;
        <img src="~/images/salman.jpg" width="125" height="100" alt="salman" />&nbsp;&nbsp;
        <img src="~/images/AYU.JPG" width="125" height="100" alt="ayu" />
    </marquee>
    <div style="position:absolute;top:35%;right:3%;">
        <img src="~/images/oo.jpg" alt="salman" height="400px" width="400px" />
    </div>
    <div class="container2">

        <form asp-action="Payment" asp-controller="Booking">


            @*<div class="form-group">
                    <img src="~/images/cards.jpg" alt="cards" />
                </div>*@
            <div style="font-size:18px">
                <table>
                    <tr>
                        <td>
                            <label style="color:lightseagreen">Payment Method</label>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <span style="color:black"><b>Debit Card</b></span>
                        </td>
                        <td>
                            <input type="radio" name="mode" value="DC" />

                        </td>
                    </tr>
                    <tr>

                        <td>

                            <span style="color:black"><b>Credit Card</b></span>
                        </td>
                        <td>
                            <input type="radio" name="mode" value="CC" />
                        </td>
                    </tr>
                </table>
            </div>

            <div>
                <div>
                    @*<label class="control-label">Customer Name</label>*@
                    <input type="text" class="form-control" placeholder="Customer Name" required="required" />
                    @*<input type="text" class="form-control" />*@
                </div><br />
                <div>
                    @*<label for="cname">Name on Card</label>*@
                    <input type="text" class="form-control" for="cname" placeholder="Name on Card" required="required" />
                    @*<input type="text" class="form-control" />*@
                </div><br />
                <div>
                    @*<label for="ccnum">Credit card number</label>
                        <input type="text" class="form-control" />*@
                    <input type="text" class="form-control" for="ccnum" placeholder="0000000000000000" pattern="[0-9]{16}" required="required" />
                </div><br />
                <div>
                    @*<label for="expmonth">Exp Month</label>*@
                    @*<input  class="form-control" for="expmonth" placeholder="Exp Month" required="required" />*@
                    <div id="month">
                        <select id='month' class="form-control" for="expmonth" required="required">
                            <option value=''>Select Exp Month</option>
                            <option value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                    </div>
                </div><br />
                <div>
                    @*<label for="expyear">Exp Year</label>*@
                    <div id="year">
                        <select id='year' class="form-control" for="expyear" required="required">
                            <option value=''> Select Exp Year </option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div><br />
                <div>
                    @*<label for="cvv">CVV</label>*@
                    <input type="password" pattern="[0-9]{3}" class="form-control" for="cvv" placeholder="000" required="required" />
                </div><br />
                <div>
                    <button class="btn" type="submit" id="btnpay">Pay and Book Tickets</button>

                </div>
            </div>
        </form>
    </div>

    <script>
        $('#btnpay').click(function (e) {
            var y = $('input[type=radio]:checked').length;
            if (y == 0) {
                alert('Please select Payment mode.');
                e.preventDefault();
            }
        });
    </script>
</body>
</html>





@*<body style="background-image:url(http://www.yesco.com/wp-content/uploads/2017/08/State-Theater.jpg)">
    <form asp-action="Entry" asp-controller="Admin" method="post">
      
        <div style="position:absolute;top:250px;left:250px ">
            <div class="form-group" style="column-width:650px">
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="email" class="form-control" asp-for="EmailId" placeholder="Enter Email" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="Password" class="form-control" asp-for="Password" as required placeholder="Enter Password" />
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="text" class="form-control" asp-for="Phoneno" placeholder="Enter Phoneno" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>
    </form>
</body>*@