
@{
    ViewData["Title"] = "Payment";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <div>
        <a href="http://localhost:54200/Search/SelectedShow">
            <input class="btn btn-primary" type="button" value="Go Back" style="position:absolute;top:50px;left:30px" />

        </a>
    </div>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*<style type="text/css">
            .login-form {
                width: 200px;
                margin: 50px auto;
                position: absolute;
                top: 150px;
                left: 430px;
            }

                .login-form form {
                    margin-bottom: 15px;
                    background: #f7f7f7;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                    padding: 30px;
                }

                .login-form h2 {
                    margin: 0 0 15px;
                }

            .form-control, .btn {
                min-height: 38px;
                border-radius: 2px;
            }

            .btn {
                font-size: 15px;
                font-weight: bold;
            }
        </style>*@
    <style>
        input[type=radio] {
            transform: scale(2,2);
        }
    </style>
</head>
<body>
    <div style="position:absolute;top:150px;left:250px;">

        <form asp-action="Payment" asp-controller="Booking">


            <div class="form-group">
                <img src="~/images/cards.jpg" alt="cards" />
            </div>
            <div class="form-group" style="font-size:18px">
                <table>

                    <tr>
                        <td>
                            <label style="color:dodgerblue">Payment Method</label>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <span style="color:dodgerblue">Debit Card</span>
                            &nbsp;
                            &nbsp;

                            @*</td>*@

                            @*<td>*@<input type="radio" style="color:dodgerblue" name="mode" value="DC" />

                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;


                            <span style="color:dodgerblue">Credit Card</span>
                            &nbsp;
                            &nbsp;

                            <input type="radio" name="mode" value="CC" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group" style="column-width:650px;position:page">
                <div class="form-group" >
                    @*<label class="control-label">Customer Name</label>*@
                    <input type="text" class="form-control" placeholder="Customer Name" required="required" />
                    @*<input type="text" class="form-control" />*@
                </div>
                <div class="form-group">
                    @*<label for="cname">Name on Card</label>*@
                    <input type="text" class="form-control" for="cname" placeholder="Name on Card" required="required" />
                    @*<input type="text" class="form-control" />*@
                </div>
                <div class="form-group">
                    @*<label for="ccnum">Credit card number</label>
                <input type="text" class="form-control" />*@
                    <input type="text" class="form-control" for="ccnum" placeholder="Card number" required="required" />
                </div>
                <div class="form-group">
                    @*<label for="expmonth">Exp Month</label>*@
                    @*<input  class="form-control" for="expmonth" placeholder="Exp Month" required="required" />*@
                    <div id="month">
                        <select id='month' class="form-control" for="expmonth" required="required">
                            <option value=''>Select Exp Month</option>
                            <option value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @*<label for="expyear">Exp Year</label>*@
                    <div id="year">
                        <select id='year' class="form-control" for="expyear" required="required">
                            <option value=''> Select Exp Year </option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @*<label for="cvv">CVV</label>*@
                    <input type="password" pattern="[0-9]{3}" class="form-control" for="cvv" placeholder="CVV" required="required" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Pay and Book Tickets</button>

                </div>
                </div>
        </form>
        </div>
        
</body>
</html>


@*<body style="background-image:url(http://www.yesco.com/wp-content/uploads/2017/08/State-Theater.jpg)">
    <form asp-action="Entry" asp-controller="Admin" method="post">
      
        <div style="position:absolute;top:250px;left:250px ">
            <div class="form-group" style="column-width:650px">
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="email" class="form-control" asp-for="EmailId" placeholder="Enter Email" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="Password" class="form-control" asp-for="Password" as required placeholder="Enter Password" />
            </div>
            <div class="form-group" style="column-width:650px">
                <input type="text" class="form-control" asp-for="Phoneno" placeholder="Enter Phoneno" required="required">
            </div>
            <div class="form-group" style="column-width:650px">
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>
    </form>
</body>*@