
@using  MovieTicketLibrary;
@model Register
@{
    ViewData["Title"] = "Entry";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <h2 class="heading-main">Online Movie Ticket Booking </h2>

        @*<meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Bootstrap Simple Login Form</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
       <link href="~/css/site.css" rel="stylesheet" />
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1">*@

</head>
<body >
    <marquee behavior="scroll" direction="left">

        <img src="~/images/stree1.jpg" width="125" height="100" alt="stree1">&nbsp;&nbsp;
        <img src="~/images/shah.jpg" width="125" height="100" alt="shahrukh khan" />&nbsp;&nbsp;

        <img src="~/images/deep.jpg" width="125" height="100" alt="deepika padukone" />&nbsp;&nbsp;

        <img src="~/images/baaz.jpg" width="125" height="100" alt="baaz" />&nbsp;&nbsp;
        <img src="~/images/badhai ho.jpg" width="125" height="100" alt="badhai ho" />&nbsp;&nbsp;
        <img src="~/images/dhamaal.jpg" width="125" height="100" alt="dhamaal" />&nbsp;&nbsp;
        <img src="~/images/dhoom.jpg" width="125" height="100" alt="dhoom" />&nbsp;&nbsp;
        <img src="~/images/golmaal3.jpg" width="125" height="100" alt="golmaal" />&nbsp;&nbsp;
        <img src="~/images/salman.jpg" width="125" height="100" alt="salman" />&nbsp;&nbsp;
        <img src="~/images/AYU.JPG" width="125" height="100" alt="ayu" />
    </marquee>
        <div class="bg-img">

            @*<hr />*@


            <form asp-action="Entry" asp-controller="Admin" method="post" class="container">

                @*<div style="position:absolute;top:30%;left:28%; background-image: url('../images/backcover.png')";>*@
                @*<div class="form-group" style="column-width:650px">*@
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name" required="required">
                @*</div>*@
                @*<div class="form-group" style="column-width:650px">*@
                <input type="email" class="form-control" asp-for="EmailId" placeholder="Enter Email" required="required">
                @*</div>*@
                @*<div class="form-group" style="column-width:650px">*@
                <input type="Password" class="form-control" asp-for="Password" as required placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
                @*</div>*@


                @*<div class="form-group" style="column-width:650px">*@
                <input type="text" class="form-control" asp-for="Phoneno" placeholder="Enter Phoneno" pattern="^\d{10}$" title="invalid phone number" required="required">
                @*</div>*@
                @*<div class="form-group" style="column-width:650px">*@
                <button type="submit" class="btn">Sign Up</button>
                @*</div>*@

            </form>
            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
        </div>
</body>
</html>
   




 <script>
        var myInput = document.getElementById("Password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
