@using  MovieTicketLibrary;
@model Credentials
@{
    ViewData["Title"] = "Login";
}
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <h2 class="heading-main">Movie Ticket Booking </h2>
   
    @*<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Simple Login Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <link href="~/css/site.css" rel="stylesheet" />
   
</head>
<body>
    <marquee behavior="scroll" direction="left">

        <img src="~/images/stree1.jpg" width="125" height="100" alt="stree1">&nbsp;&nbsp;
        <img src="~/images/shah.jpg" width="125" height="100" alt="shahrukh khan" />&nbsp;&nbsp;

        <img src="~/images/deep.jpg" width="125" height="100" alt="deepika padukone" />&nbsp;&nbsp;

        <img src="~/images/baaz.jpg" width="125" height="100" alt="baaz" />&nbsp;&nbsp;
        <img src="~/images/badhai ho.jpg" width="125" height="100" alt="badhai ho" />&nbsp;&nbsp;
        <img src="~/images/dhamaal.jpg" width="125" height="100" alt="dhamaal" />&nbsp;&nbsp;
        <img src="~/images/dhoom.jpg" width="125" height="100" alt="dhoom" />&nbsp;&nbsp;
        <img src="~/images/golmaal3.jpg" width="125" height="100" alt="golmaal" />&nbsp;&nbsp;
        <img src="~/images/salman.jpg" width="125" height="100" alt="salman" />&nbsp;&nbsp;
        <img src="~/images/AYU.JPG" width="125" height="100" alt="ayu" />
    </marquee>
    <div class="bg-img">





        @*<div class="login-form">
        <div style="position:absolute;top:28%;left:28%">*@
        
            <form asp-action="login" asp-controller="Admin" method="post" class="container1">
                @*<h2 class="text-center">Log In</h2>*@
                @*<h2 class="text-center" style="font:400;font-style:inherit;color:aliceblue">Log In</h2>*@

               <div >
                <input type="text" class="form-control" asp-for="Email" placeholder="Enter EmailId" required="required">
                @*</div>*@
                @*<div class="form-group">*@
                <input type="password" class="form-control" asp-for="Password" placeholder="Password" required="required">
                @*</div>*@
                <span asp-validation-for="Email" class="text-danger"></span>
                @*<div class="form-group">*@
                <button type="submit" class="btn">Log In</button>
               </div>

            </form>
        
        <div style="position:absolute;top:65%;left:62%">
            <a href="http://localhost:54200/admin/entry">


                    <input type="submit" value="New User?" class="btn" />


            </a>
            </div>
        </div>
    

    
  




</body>
</html>